*{margin:0;padding:0;}
li{list-style:none;}
img{border:none; vertical-align:middle;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i,b{font-style:normal;}
body{font:12px "微软雅黑";height: 100%;}
html,#app{height:100%;width: 100%;}
.left{float:left;}
.right{float:right;}
.clearBoth{clear:both;height:0;overflow:hidden;}